body{
  overflow-x: hidden;
}

.logo {
    float: left;
}
.hd{
    padding-bottom: 3%;
    padding-top: 2%;
    margin-top: 3%;
    position: relative;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background:url(img/nav_bg.jpg);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
 
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left:1px;
    font-size: 36px;
    margin-left: 0px;
  }
  #search_btn {
    position: absolute;
    top: 0;
    right:20%;
  }
  .fa-search {
    margin-top: 12%;
    text-decoration: none;
    font-size:2em;
    color: #818181;
    cursor: pointer;
   
  }
  .fa-search:hover{
    color: #f1f1f1;
  }
  #search_btn_txt{
    background-color: transparent;
    border:none;
    padding: 2%;
    color: #f1f1f1;
    width:0;
    transition: 1s;
  }
  #sidebar_footer {
    bottom: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 200%;
    color: #818181;
  }
  .ico1 {
    
    padding: 3%;
 
    
  }
  .ico1:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .btn {
    display: block;
    text-align: left;
    margin-left: 20%;
  }
  
  #btn {
    
      height: 100%;
      width: 3%;
      padding-left: 0.5% ;
      padding-right: 0.5% ;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 2%;
      padding-bottom: 1.5%;
  }
  #btn:hover {
    padding-top: 1.8%;
    padding-bottom: 0.9%;
    cursor: pointer;
  }
  #up1{
    width: 100%;
    height: 20%;
    border-top: 2px solid #000;
  }
  #mid1 {
    margin-top: 2%;
    width: 100%;
    height: 20%;
    border-top: 2px solid #000;
  }
  #bottom1 {
    margin-top: 2%;
    width: 100%;
    height: 20%;
    border-top: 2px solid #000;
  }
  #fst_slide_img {
      animation: myanimation;
      animation-duration: 20s;
      animation-direction: alternate;
      animation-iteration-count: infinite;


  }
  @keyframes myanimation {
      0%{transform: scale(1)}
      100%{transform: scale(1.1)}
  }
  .fst_slider {
      overflow: hidden;
  }
  #second_d {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    height: auto;
    padding: 0;
    overflow: hidden;
  }
  .t1 {
    width: 50%;
    height: 100%;
    justify-content: left;
    padding: 1%;
    padding-top: 4%;
  }
  .sec_slid{
    width: 50%;
    height: 100%;
  }
  #t1_f{
  
    font-size: 1.2em;
  }
  #t1_l{
    font-size: 1.2em;
    font-weight: lighter;
  }
  
  #t1_head {
    padding: 5%;
    padding-left: 0;

  }
  .fa-clipboard {
    font-size: 200%;
  }
  
  .fa-pencil-ruler {
    font-size: 200%;
  }
  .fa-brush {
    font-size: 200%;

  }
  .wcu_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5%;
    grid-gap: 1em;
  }
  .ou_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1.5em;
    margin-bottom: 5%;
  }
  .ou_content_ele {
    overflow: hidden;
    cursor: url('img/cursor.png'),auto;
    background-color: #7beec7;
    position: relative;
    
  }
  .ou_content_ele img {
    transition-property: transform;
    transition-duration: 0.2s;
  }
  .ou_content_ele:hover img {
    transform: scale(1.1);
    opacity: 0.5;
    }
    .ou_ele_bt {
      position: absolute;
      border-top: #000 solid 5px;
      width: 100%;
      height: 20%;
      top: 0;
      left:-100%;
      z-index: 1;
      transition-property: top left right bottom;
      transition-duration: 1s;
    }
    .ou_content_ele:hover .ou_ele_bt {
      top: 0;
      left:0;
      z-index: 1;
    }
    .ou_ele_bb {
      position: absolute;
      border-bottom: #000 solid 5px;
      width: 100%;
      height: 20%;
      text-align: center;
      bottom: 0;
      right: -100%;
      z-index: 1;
      transition-property: top left right bottom;
      transition-duration: 1s;
    }
    .ou_content_ele:hover .ou_ele_bb {
      
      bottom: 0;
      right:0;
      z-index: 1;
    }
    .ou_ele_br {
      position: absolute;
      border-right: #000 solid 5px;
      height: 100%;
      right: 0;
      bottom:-100%;
      z-index: 1;
      transition-property: top left right bottom;
      transition-duration: 1s;
      transition-delay: 1s;
    }
    .ou_content_ele:hover .ou_ele_br {
     
      bottom: 0;
      left:0;
      z-index: 1;
    }
    .ou_ele_bl {
      position: absolute;
      border-left: #000 solid 5px;
      height: 100%;
      left: 0;
      top:-100%;
      z-index: 1;
      transition-property: top left right bottom;
      transition-duration: 1s;
      transition-delay: 1s;
    }
    .ou_content_ele:hover .ou_ele_bl {
      top: 0;
      left:0;
      z-index: 1;
    }

  .newsletter {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 350px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding:0px;
  }
  #te2{
    text-align: center;
    font-size: 200%;
    background-color: #7beec7;
    padding-top: 25%;
  }
  #in2{
    background-color: #111;
  }
  .inf1{
    margin:10% 10%;
    background-color: #ffffff;
    height: 70%;
    width: 80%;
    text-align: center;
    padding-top: 15%;
  }
.inf1 input{
  padding: 5px;
  width: 70%;
  font-size: 1.2em;
}
.inf1 a {
  padding: 10px 40px;
  text-decoration: none;
  font-size: 1.2em;
 color: white;
  background-color: #7beec7;
}
footer {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f4f4f4;
  grid-gap:10%;
  padding-right: 5%;
  padding-left: 10%;
  padding-top: 5%;
}
.ft p {
  margin-top: 5%;
}
.ft_middle{
  text-align: center; 
}
.ft_middle strong{
  cursor: pointer;
}

.type {
  position:absolute;
  padding: 0;
  transform: translate(10%,-150%);
  font-size: 400%;
  width: 100%;
  word-spacing: 3%;
  -webkit-font-smoothing: antialiased;
    font-family: 'Ubuntu', sans-serif;
}
#ty1 {
  /* display: block; */
  background-color: #7beec7;
  padding:.5% 1%;
  word-spacing: 4%;
}
#type1 {
  font-size: 30%;
  width: 100%;
  font-family: 'azedolight', sans-serif;
}
#typed2 {
  font-size: 0.5em;
  font-weight: lighter;
  text-align: center;
  font-family: 'Lekton', sans-serif;
}

#ham_index {
  font-size: 200%;
  padding-left: 2%;
  display: none;
  width: 100%;
}
#ham_index a{
  text-decoration: none;
  color: black;
}
#ham_index span {
  /* padding-right: 2%; */
}
#ham_index span:hover {
        color: #7beec7;
        cursor: pointer;
}


#collapseExample1 {
  margin-left: 30%;
  color: #818181;
  text-align: left;
  
}
#collapseExample3 {
  margin-left: 30%;
  color: #818181;
  text-align: left;

}
#ham_d {
  display: flex;
  margin-bottom: 2%;
}
#ham_btn1 {
  background: #7beec7;
  border: none;
  height: 50px;
  width: 50px;
  position: relative;
}
.ham_ico_f1 {
  position:absolute;
  display: block;
  background-color: #000;
  width: 80%;
  height: 7%;
  left: 10%;
  transition-property: transform top bottom;
  transition-duration: 0.5s;
}
#sp1 {
      top: 20%;
}
#sp2 {
  top: 50%;
}
#sp3 {
  bottom: 10%;
}

.animated-icon3 {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 10%;
  left: 0;
}

